<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Pet Assist</title>
</head>
<body>
	<div class="row" style="background-color:powderblue;">
		<div class="col-sm-8"style="text-align:center;"><h4> Welcome to Pet Assist</h4></div>
		<div class="col-sm-2" style="text-align:right;"><h4><a th:href="@{/login}">Log In</a></h4></div>
		<div class="col-sm-2"><h4><a th:href="@{/Signup}"> Sign Up</a></h4></div>	
	</div>
</body>
</html>