<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pet Assist|Log in </title>
</head>
<body>
<h3>New User Password</h3>
<form th:action="@{/NewUserPassword}" th:object="${NewPass1}" method="post">
    <p th:if="${invalidOTP}" class="error">OTP entered is incorrect</p>
    <p th:if="${PassNotMatch}" class="error">Password and ConfirmPassword doesnt match</p>
    <p th:if="${UDNotUpdated}" class="error">User Details not updated</p>
    <label for="OTP">OTP</label><br>
	<p th:text="${OTP}" th:field="*{UserOTP}"/><br>
	<label for="Email">Email</label><br>
	<p th:text="${email}" th:field="*{Email}"/><br>  	
    <label for="Password">Password</label><br>
	<input type="password" id="Password" name="Password" th:field="*{Password}"/><br><br>
				
	<label for="Confirm Password">Confirm Password</label><br>
	<input type="password" id="Confirm_Password" name="Confirm_Password" th:field="*{ConfirmPassword}"/><br><br>
	</br>
	<input type="submit" value="Change Password"/>
    

</form>
</body>

</html>